<div class="modal-dialog">
  <div class="modal-content" role="document">
	<% @items.each do |item| %>
		<% if item.start_time.month == $this_date.month %>

				<% @sonota += item.amount %>
			<% end %>
		<% end %>
	<% end %>
		<ul>
		<li><%= "食費　#{@shokuhi}円"%></li>
		<li><%= "外食費　#{@gaishokuhi}円"%></li>
		<li><%= "日用品　#{@nichiyohin}円"%></li>
		<li><%= "交通費　#{@kotsuhi}円"%></li>
		<li><%= "衣服　#{@ihuku}円"%></li>
		<li><%= "交際費　#{@kosaihi}円"%></li>
		<li><%= "趣味　#{@shumi}円"%></li>
		<li><%= "その他　#{@sonota}円"%></li>
		</ul>
  </div>
</div>