<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select :income_and_expenditure,[["支出","支出"], ["収入","収入"]], {default: "支出"}, class: "select" %>
  </div>

  <div class="field">
    <div>金額</div>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <div>カテゴリー</div>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <div>日付</div>
    <%= form.date_select :start_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
