<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.start_time %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @items.each do |item| %>
  <% if item.income_and_expenditure == "支出" %>
    <% @expenditure += item.price %>
  <% else %>
    <% @income += item.price %>
  <% end %>
<% end%>

<% @total = @income - @expenditure %>

<div>支出：<%= @expenditure %>円</div>
<div>収入：<%= @income %>円</div>
<div>合計：<%= @total %>円
  <% if @total > 0 %>
  😀
  <% else %>
  😰
  <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>

<%= month_calendar events: @items do |date, items| %>
  <%= date %>

  <% items.each do |item| %>
    <div>
      <% if item.income_and_expenditure == "支出" %>
      -
      <% else %>
      +
      <% end %>
      <%= item.price %>
      円
    </div>
  <% end %>
<% end %>