<p id="notice"><%= notice %></p>

<br>

<% @items.each do |item| %>
  <% if item.income_and_expenditure == "æ”¯å‡º" && item.start_time.month == @this_date.month %>
    <% @expenditure += item.amount %>
  <% elsif item.income_and_expenditure == "åŽå…¥" && item.start_time.month == @this_date.month %>
    <% @income += item.amount %>
  <% end %>
<% end%>

<% @total = @income - @expenditure %>

<div class="info">
  <div class="info-expenditure-and-income">
    <%= "æ”¯å‡º  #{@expenditure}å††" %>&nbsp;&nbsp;
    <%= "åŽå…¥  #{@income}å††" %>
  </div>
  <div class="info-total">
    <%= "åˆè¨ˆ  #{@total}å††" %>
    <% if @total >= 0 %>
    ðŸ’µ
    <% else %>
    ðŸ’¸
    <% end %>
  </div>
</div>

<br>

<%= month_calendar events: @items do |date, items| %>
  <% @expenditure = 0 %>
  <% @income = 0 %>
  <%= link_to date.day, items_select_path(start_time: date), remote: true %>
  <div id="item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <% items.each do |item| %>
    <% if item.income_and_expenditure == "æ”¯å‡º" %>
      <% @expenditure += item.amount %>
    <% else %>
      <% @income += item.amount %>
    <% end %>
  <% end %>
  <div class = "amount">
    <div class = "expenditure">
      <% if @expenditure > 0 %>
        <%= "-#{@expenditure}å††" %>
      <% end %>
    </div>
    <div class = "income">
      <% if @income > 0 %>
        <%= "+#{@income}å††" %>
      <% end %>
    </div>
  </div>
<% end %>
