<p id="notice"><%= notice %></p>

<h1>å®¶è¨ˆç°¿</h1>

<br>

<% @items.each do |item| %>
  <% if item.income_and_expenditure == "æ”¯å‡º" %>
    <% @expenditure += item.amount %>
  <% else %>
    <% @income += item.amount %>
  <% end %>
<% end%>

<% @total = @income - @expenditure %>

<div><%= "æ”¯å‡ºï¼š#{@expenditure}" %>å††</div>
<div><%= "åŽå…¥ï¼š#{@income}" %>å††</div>
<div><%= "åˆè¨ˆï¼š#{@total}" %>å††
  <% if @total >= 0 %>
  ðŸ˜€
  <% else %>
  ðŸ˜°
  <% end %>
</div>

<br>

<%= month_calendar events: @items do |date, items| %>
  <% @expenditure = 0 %>
  <% @income = 0 %>
  <%= link_to date.day, items_select_path(start_time: date), remote: true %>
  <div id="item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <% items.each do |item| %>
    <% if item.income_and_expenditure == "æ”¯å‡º" %>
      <% @expenditure += item.amount %>
    <% else %>
      <% @income += item.amount %>
    <% end %>
  <% end %>
  <div class = "amount">
    <div class = "expenditure">
      <% if @expenditure > 0 %>
        <%= "-#{@expenditure}å††" %>
      <% end %>
    </div>
    <div class = "income">
      <% if @income > 0 %>
        <%= "ï¼‹#{@income}å††" %>
      <% end %>
    </div>
  </div>
<% end %>