<p id="notice"><%= notice %></p>

<h1>Items</h1>

<br>

<% @items.each do |item| %>
  <% if item.income_and_expenditure == "支出" %>
    <% @expenditure += item.amount %>
  <% else %>
    <% @income += item.amount %>
  <% end %>
<% end%>

<% @total = @income - @expenditure %>

<div>支出：<%= @expenditure %>円</div>
<div>収入：<%= @income %>円</div>
<div>合計：<%= @total %>円
  <% if @total >= 0 %>
  😀
  <% else %>
  😰
  <% end %>
</div>

<br>

<%= link_to 'New Item', new_item_path %>

<%= month_calendar events: @items do |date, items| %>
  <%= link_to date, items_select_path(start_time: date), remote: true %>
  <div id="item-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <% items.each do |item| %>
    <div>
      <% if item.income_and_expenditure == "支出" %>
      -
      <% else %>
      +
      <% end %>
      <%= item.amount %>
      円
    </div>
  <% end %>
<% end %>