<p id="notice"><%= notice %></p>

<p>
  <strong>収支:</strong>
  <%= @item.income_and_expenditure %>
</p>

<p>
  <strong>金額:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>日付:</strong>
  <%= @item.start_time.month %>
  月
  <%= @item.start_time.day %>
  日
  （
  <%= %w{日 月 火 水 木 金 土}[@item.start_time.wday] %>
  ）
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
