<p id="notice"><%= notice %></p>

<p>
  <strong>項目:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>日にち:</strong>
  <%= @item.start_time.month %>
  月
  <%= @item.start_time.day %>
  日
  （
  <%= %w{日 月 火 水 木 金 土}[@item.start_time.wday] %>
  ）
</p>

<p>
  <strong>値段:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
